.redefinir-container {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 40px;
}

.logo-redefinir {
  width: 120px;
  margin-bottom: 20px;
}

.btn-criar-conta {
  position: absolute;
  right: 60px;
  top: 40px;
  border: 1px solid #ff8a00;
  background: transparent;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #ff8a00;
  font-size: 15px;
}

.box-redefinir {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box-redefinir h4 {
  color: #888;
  font-weight: 400;
  margin-bottom: -8px;
}

.box-redefinir h1 {
  font-size: 28px;
  font-weight: 700;
}

.campo-senha {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.campo-senha input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

.icone-visibilidade {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

.btn-redefinir {
  margin-top: 18px;
  width: 100%;
  background: #ff8a00;
  padding: 14px;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
